kagglehub
networkx
pandas
seaborn
matplotlib 
numpy==2.1.3
scikit-learn 
emoji
scipy
textblob
torch
transformers
huggingface_hub[hf_xet]
nltk
tqdm
shap
requests
simpy
faker
xgboost
sdv
fastapi
uvicorn
pydantic
