kagglehub
pandas
seaborn
matplotlib 
numpy
scikit-learn 
LabelEncoder
StandardScaler
KMeans
silhouette_score
emoji
scipy
textblob
difflib 
itertools 
seaborn
pathlib
PCA
DBSCAN
cdist
AgglomerativeClustering
torch
transformers
nltk
tqdm
matplotlib
seaborn
shap
skicit-learn
requests
random
simpy
kagglehub
faker
xgboost
sdv
