kagglehub
pandas
seaborn
matplotlib
numpy
sklearn.preprocessing 
LabelEncoder
StandardScaler
sklearn.cluster
KMeans
sklearn.metrics
silhouette_score
matplotlib.pyplot
emoji
scipy
scipy.stats 
textblob
sklearn.feature_extraction.text
difflib 
itertools 
